.masthead {
    height: 75vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/SFRw5GChoLA/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-text {
    color: #f3ede9;
}