.masthead {
    height: 75vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/SFRw5GChoLA/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.header-text {
    color: #f3ede9;
}

.h-text{
    margin-bottom: 2rem;
}
